.masonry {
  column-count: 3;
  column-gap: 1em;
}
.item {
  background:transparent;
  display: inline-block;
  width: 100%;
}

.drop-menu{
  transition: transform 0.3s;
  &.click{
    transform: rotateX(180deg);
  }
}
